@font-face {
    font-family: 'Inter24';
    src: url(/fonts/Inter_24pt-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Inter24';
    src: url(/fonts/Inter_24pt-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter_18pt-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter_18pt-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter_18pt-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter_18pt-Medium.ttf);
    font-weight: 500;
}